
body {
    padding: 0;
    margin: 2px;
}

body, input {
    font-family: 'Verdana';
    font-size: 35px;
    font-weight: 242;
}

input[type='button'] {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 454;
} 
