// Frapp stylesheet

@use 'sass:color';

$unit: 30px;
$regular-pt-size: $unit;
$small-pt-size: 20px;

$doc-bg: hsl(208, 100, 92);

$button-bg: #EF6C00; //hsl(60, 100, 60);
$button-fg: white;

$vert-marg-A: 8px;
$vert-marg-B: 6px;
$vert-marg-C: 6px;

$horz-marg-A: 6px;

%type-spec {
    font-family: 'Oswald';
    font-weight: 300;
    font-size: $regular-pt-size;
    line-height: 1.5;
}

// Global rules

body {
    margin: 0;
    @extend %type-spec;
    background-color: $doc-bg;
}

p {
    margin: $horz-marg-A 0;
}

input {
    border: 0;
    padding: 0;
    @extend %type-spec;
    -webkit-appearance: none;
    margin: 0;
}

$button-height: 1.2em;
$size-prop: 0.7; // font size as a proportion of button height

@mixin button-style($button-height, $horz-padding) {
    color: $button-fg;
    background-color: $button-bg;

    font-size: $button-height * $size-prop;
    height: ($button-height / $size-prop);
    line-height: ($button-height / $size-prop);
    border-radius: ($button-height / 2 / $size-prop);
    min-width: ($button-height / $size-prop);

    padding: 0 $horz-padding;    
}

input[type='button'] {
    @include button-style(1.2em, 0.5em);
}

// ItemBrowser component

#item-browser {

    .search-field {
        box-sizing: border-box;
        width: 100%;
        background-color: lighten($doc-bg, 5%);
        padding-top: $horz-marg-A - 3px;
        padding-bottom: $horz-marg-A + 3px;
        padding-left: ($vert-marg-A + $vert-marg-B + $vert-marg-C);
        padding-right: ($vert-marg-A + $vert-marg-B + $vert-marg-C);
    }

}

#item-list {
    padding-left: $vert-marg-A;
    padding-right: $vert-marg-A;
    font-weight: 400;
}

// Item component

.comp.item {
    background-color: darken($doc-bg, 10%);
    padding-left: $vert-marg-B;
    padding-right: $vert-marg-B;
    margin: ($unit / 2) 0;

    .name {
//         line-height: 1.2;
        padding: 0 $vert-marg-C ($horz-marg-A * 2) $vert-marg-C;
        position: relative;
        top: -0.2em;
        display: flex;
        align-items: flex-end;

        span.text {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: $unit * 2;
            line-height: $unit * 2.5;
        }

        img.icon {
            height: $unit * 2;
            vertical-align: bottom;
            position: relative;
        }

        input[type='button'], button {
            // float: right;
            position: absolute;
            right: $vert-marg-B;
            bottom: $horz-marg-A * 1.5;
        }
    }

    .stock-levels {
        display: flex;
        flex-wrap: wrap;
    }

    padding-bottom: $unit / 4;

    border-radius: $vert-marg-B;
}

// StockCounter component
$inner-marg: 0.2em;

.comp.stock-counter {
    // font-family: 'Work Sans';
    font-size: 1.3em;

    background-color: $doc-bg;

    padding: 0 $inner-marg $inner-marg $inner-marg;
    margin-bottom: $vert-marg-B;

    border-bottom-left-radius: ($button-height / 2) + $inner-marg ;
    border-bottom-right-radius: ($button-height / 2) + $inner-marg ;

    border-top-left-radius: $inner-marg * 2;
    border-top-right-radius: $inner-marg * 2;

    box-sizing: border-box;
    width: 48.5%;

    flex-basis: auto;

    .label {
        display: block;
        font-size: 0.6em;
        text-align: center;
        font-weight: 400;
    }

    .adjuster {
        font-family: 'Work Sans';
        
        input[type='button'] {
            font-family: 'Work Sans';
            @include button-style(1em, 0);
        }
 
        .decr {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    
        .incr {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        line-height: 1em;
        display: flex;

        .value {
            background-color: white;
            text-align: center;
            flex-grow: 1;
        }

    
        .decr, .incr {
            flex-basis: auto;
        }
    }

    // .adjuster * {
    //     vertical-align: middle;
    // }




}

.comp.stock-counter:nth-child(odd) {
    margin-right: $inner-marg;
}



// Footer

#footer {
    padding: 0 ($vert-marg-A + $vert-marg-B);
    border-top: 1px solid grey;
}

#footer {
    font-size: $small-pt-size;
}